*, *::before, *::after{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif,Helvetica,Arial;
}
.first-page{
    margin: 0 5rem 0 5rem;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    font-weight: 100;
    font-size: 16px;
    position: sticky;
    position: -webkit-sticky;
}

.logo-container, .nav-links, .search-container, .login, .contact-us{
    display: flex;
}

.logo {
    width: 7vw;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: flex-start;
    list-style: none;
}

.nav-link {
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 1rem;
}

.search-icon {
    flex: 1;
    justify-content: flex-end;

}
.search-icon > img{
    width: 1.5vw;
}

.login{
    justify-content: flex-end;
    margin: 2rem;
    text-decoration: none;
    color: black;
    
}
.contact-us{
    justify-content: flex-end;
    color: #fff;
    background-color: #0abf53;
    border-color: #0abf53;
    line-height: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 12px 24px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 12px 0 12px 0;
    border-radius: 6px;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
}

.contact-us:hover{
    background-color: #28a745;
}

.nav-link:hover, .search-icon:hover, .login:hover{
    border-top: 2px solid rgb(167, 218, 167);
    padding-top: 1.5rem;
}

#first-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    margin: 0;
}
.first-slogan{
    text-align: left;
    grid-area: 1/1/6/3;
    margin-top:10rem;
}
.first-slogan > h1{
    font-weight: 400;
    font-size: 56px;
}
.first-para{
    font-size: 20px;
    line-height: 30px;
    padding-top: 24px;
    font-weight: 100;
}
.first-slogan >:last-child{
    width: 40%;
}

.video-first{
    grid-area: 1/4/7/7;
    margin-left: auto;
}

.logos-section{
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#second-container{
    background-color: #f3f6f9;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 5rem;
    gap: 2rem;
}
.world-icon{
    width: 3vw;
    height: 3vh;
}
.second-slogan{
    grid-column: span 2;
    font-weight: 600;
    margin-top:3rem;
}

.second-icons{
    grid-row: 2;
}

.second-icons >:nth-child(2){
    margin: 1rem 0 1rem 0;
}

.second-icons >:nth-child(3){
    font-weight: 100;
}

#third-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#third-container::after{
    content: "";
    background-color:rgb(222, 222, 233);
    width: 80%;
    height: 1px;
    grid-column: span 2;
    margin: 0 5rem 2rem 7rem;
  
}
.video-second{
    grid-column: span 1;
    padding: 5rem;
}
.third-slogan{
    grid-column: 2/3;
    padding:5rem;
    margin-top: 8rem;
}
.small-tag{
    background-color: rgba(10,191,83,0.12);
    border-radius: 6px;
    color: #0abf53;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    padding: 6px 12px;
    width: fit-content;
}

.third-slogan > h2{
    font-weight: 400;
    font-size: 56px;
    margin: 2rem 0 2rem 0;
}
.payment{
    margin: 2rem 0 2rem 0;
}
.payment-tags{
    text-decoration: none;
    color: #0abf53;
}

.payment-tags:hover{
    text-decoration: underline;
}
.payment-paragraph{
    font-weight: 100;
    padding-bottom: 5px;
}

#green-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #0abf53;
    padding: 5rem;
}

.start-slogan{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.touch-us{
    justify-content: flex-end;
    color: #000;
    background-color: #fff;
    line-height: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 12px 24px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 24px 0 12px 0;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
}

.touch-us:hover{
    background-color: lightgray;
}

footer{
    background-color: #00112c;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    text-decoration: none;
    list-style: none;
    padding: 7rem 7rem 1rem 7rem;
}

.footer-title{
    text-decoration: none;
    color: #fff;
    list-style: none;
    font-weight: 600;
}
.footer-link{
    text-decoration: none;
    color: #fff;
    list-style: none;
    font-weight: 200;
    font-size: 14px;
}

.footer-first-row{
    display: grid;
    grid-area: 1/1/5/8;
    column-gap: 5rem;
    color: #fff;
}

.footer-first-row::after{
    content: "";
    background-color:#374661;
    width: 100%;
    height: 1px;
    margin-top: 4rem;
    grid-area: 5/1/6/7;
}
.footer-first{
    display: grid;
    grid-area: 1/1/5/2;
    
}
.footer-second{
    display: grid;
    grid-area: 1/2/5/3;
   
}
.footer-third{
    display: grid;
    grid-area: 1/3/5/4;
}

.footer-fourth{
    display: grid;
    grid-area: 1/4/5/5;
}

.footer-fifth{
    display: grid;
    grid-area: 1/5/5/7;
}

.email-enter{
    color: #a5afbd;
    background-color: #00112c;
    width: 15vw;
    height: 6vh;
    border: 1px solid #374661;
    border-radius: 5px 0 0 5px;
    margin: 16px -4px 16px 0;
}
.email-box{
    color: #a5afbd;
    font-size: 12px;
    font-weight: 100;
}
.submit-button{
    width: 4vw;
    height: 6vh;
    border-radius: 0px 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.social-media-logos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.fa-facebook, .fa-instagram, .fa-twitter{
    align-items: center;
    border-color: #374661;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: #a5afbd;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
    margin-right: 12px;
}
.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover{
    background-color: rgb(216, 210, 210);

}
.footer-second-row{
    display: grid;
    grid-area: 5/1/6/6;
    color:#a5afbd;
    margin-top: 3rem;
    font-size: 10px;
}
.footer-second-row-right{
    display: grid;
    grid-area: 5/7/6/8;
    margin-top: 3rem;
}


/*Media Queries*/

@media screen and (max-width:1100px){
  
    .first-page{
        margin: 0 1rem 0 1rem;
    }
    .email-enter{
        width: auto;
     }
    .contact-us{
        width: auto;
        justify-content: center;
    }
}

@media screen and (max-width:940px){
  
    nav, .search, .log, .contact{
        display:none;
    }
   
    #first-container{
        display: flex;
        flex-direction: column;
    }
    .first-slogan{
        margin-top:3rem;
    }
    #second-container{
        display: flex;
        flex-direction: column;
    }

    #third-container{
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 50%;
    }

    footer{
        display: flex;
        flex-flow:column wrap;
    }
    .footer-first-row{
        display: flex;
        align-items: right;
        flex-flow:column wrap;
    }
    .footer-first-row::after{
        display: none;
    }
    #third-container::after{
        display: none;
    }
    .email-enter{
       width: auto;
    }
    .third-slogan{
        grid-column: 2/3;
        padding:5rem;
        margin-top: 2rem;
    }
}